<html>
<head>
<title>{{ title }} - Upload Finished</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<div id="container">
	<div><img src="img/logo.png" alt="{{ flair }}" id="logo" onclick="window.location.href='/'"/></div>
		<div class="box text-black">
			<p>Files Uploaded Successfully</p>
			<p style="font-weight: 10;">{{ goodbye_note }}</p>
			<span style="margin-top:15px;" class="embedtext"><img src="img/sheet_music.png"></span>
		</div>
	</div>
</body>